## IDEs y herramientas
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
.vscode/

## Archivos de construcción
bin/
obj/
out/
Generated_Code/

## Paquetes
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe
*.app
*.log

## Configs sensibles / temporales
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json
*.db
*.sqlite
.env
.env.*

## EF Core
Migrations/

## Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

## Rider
.idea/
*.sln.iml

## Logs
*.log
logs/
log/
*.bak

## Test results
TestResults/
coverage/
*.coverage
*.coveragexml

## Docker
docker-compose.override.yml
*.pid

## Otros (opcionales)
*.swp
*.tmp
*.bak
*.orig
*.rej
